<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="masterlayout">
<section layout:fragment="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card card-plain">
				<div class="card-header card-header-primary">
					<h4 class="card-title mt-0">
						Applications
					</h4>
					<!-- <p class="card-category">List of job posts</p> -->
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-condensed">
							<tr>
								<th>ID</th>
								<th>Job</th>
								<th>Applicant</th>
								<th>Apply Date</th>
								<th>Status</th>							
								<th>Action</th>
							</tr>
							<tr th:each="ap : ${applications}">
								<td th:text="${ap.applicationId}"></td>
								<td th:text="${ap.jobPost.jobPostDesc}"></td>
								<td th:text="${ap.jobSeeker.email}"></td>
								<td th:text="${ap.applicationDate}"></td>
								<td th:text="${ap.applicationStatus}"></td>
								 <td><a href="#"
									data-th-href="@{/jobportal/application/view/{id}(id=${ap.applicationId})}">View</a>								
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</html>