<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="masterlayout">
<section layout:fragment="content">
	<div class="row">
    	<div class="col-md-12">
              <div class="card card-plain">
                <div class="card-header card-header-primary">
                  <h4 class="card-title mt-0"> Comments Section (<a href="/jobportal/comment/add">Add New</a>)</h4>
                  <p class="card-category"> List of Comments</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
					<table class="table table-condensed">
				<tr>				
					<th>Id</th>					
					<th>Job Title</th>
					<th>Comments</th>
					<th>Posted Time</th>
					<th>Action</th>
				</tr>
				<tr th:each="comment : ${comments}">
					<td th:text="${comment.commentId}"></td>
					<td th:text="${jobPost.jobPostTitle}"></td>
					<td th:text="${comment.comment}"></td>				
					<td th:text="${comment.commentTime}"></td>
					<td><a href="#"
						data-th-href="@{/comment/edit/{id}(id=${comment.commentId})}">
						<input type="button" name="action" value="Edit" /></a>
						| <a href="#"
						onclick="return confirm('Are you sure you want to delete this item?');"
						data-th-href="@{/comment/delete/{id}(id=${comment.commentId})}">
						<input type="button" name="action" value="Delete" /></a></td>
				</tr>
			</table>
                  </div>
                </div>
              </div>
            </div>
    </div>
</section>
</html>