<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="masterlayout">
<section layout:fragment="content">
	<div class="row">
		<div class="col-xl-4 col-lg-12">
			<div class="card card-chart">
				<div class="card-header card-header-success">
					<div class="ct-chart" id="dailySalesChart"></div>
				</div>
				<div class="card-body">
					<h4 class="card-title">Job posts</h4>
					<p th:text="${jobposts}" class="card-category">
						<span class="text-success"><i class="fa fa-long-arrow-up"></i>
						</span> total job posts.
					</p>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">access_time</i> recently updated.
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-12">
			<div class="card card-chart">
				<div class="card-header card-header-warning">
					<div class="ct-chart" id="websiteViewsChart"></div>
				</div>
				<div class="card-body">
					<h4 class="card-title">Employers</h4>
					<p class="card-category" th:text="${employers}"></p>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">access_time</i> recently updated.
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-12">
			<div class="card card-chart">
				<div class="card-header card-header-danger">
					<div class="ct-chart" id="completedTasksChart"></div>
				</div>
				<div class="card-body">
					<h4 class="card-title">Successful Applications!</h4>
					<p class="card-category" th:text="${applications}"></p>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">access_time</i> recently updated.
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header card-header-warning card-header-icon">
					<div class="card-icon">
						<i class="material-icons">content_copy</i>
					</div>
					<p class="card-category">Users</p>
					<h3 class="card-title" th:text="${users}"></h3>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons text-warning">warning</i> <a
							href="#pablo" class="warning-link"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header card-header-success card-header-icon">
					<div class="card-icon">
						<i class="material-icons">store</i>
					</div>
					<p class="card-category">Average Salary</p>
					<h3 class="card-title">$34,245</h3>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">date_range</i> Last 24 Hours
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header card-header-danger card-header-icon">
					<div class="card-icon">
						<i class="material-icons">info_outline</i>
					</div>
					<p class="card-category">Comments</p>
					<h3 class="card-title" th:text="${comments}"></h3>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">local_offer</i> Tracked from Analytics
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header card-header-info card-header-icon">
					<div class="card-icon">
						<i class="fa fa-twitter"></i>
					</div>
					<p class="card-category">Jobseekers</p>
					<h3 class="card-title" th:text="${jobseekers}"></h3>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">update</i> Just Updated
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header card-header-primary">
					<h4 class="card-title">Recent JobPosts</h4>
					<p class="card-category">Fetched recently</p>
				</div>
				<div class="card-body table-responsive">
					<table class="table table-hover">
						<thead class="text-warning">
							<th>Job Title</th>
							<th>Job Description</th>
							<th>Salary</th>
							<th>Location</th>
						</thead>
						<tbody>
							<tr th:each="j: ${recentjobs}">
								<td><a th:href="@{/jobportal/jobpost/view/{id}(id=${j.jobPostId})}"><p th:text="${j.jobPostTitle}"></p></a></td>
								<td th:text="${j.jobPostDesc}"></td>
								<td th:text="${j.jobPostSalary}"></td>
								<td th:text="${j.jobPostLocation}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header card-header-tabs card-header-warning">
					<div class="nav-tabs-navigation">
						<div class="nav-tabs-wrapper">
							<h3>Recent Comments</h3>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="tab-content">
						<div class="tab-pane active" id="profile">
							<table class="table">
								<tbody>
									<tr th:each="c:${recentcomments}">
										<td th:text="${c.commentBody}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
</html>
