<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="masterlayout">
<section layout:fragment="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card card-plain">
				<div class="card-header card-header-primary">
					<h4 class="card-title mt-0">
						Your Profile (<a href="/jobportal/employer/edit">Edit</a>)
					</h4>
					<p class="card-category">Resgister Information</p>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-condensed">
					
							 <tr th:object="${session.user}">
							    <th>First Name: <span th:text="*{firstName}"></span>
							    <th>Last Name: <span th:text="*{lastName}"></span>
							    <th>Email: <span th:text="*{useremail}"></span>
							    <th>Password: <span th:text="*{password}"></span>
							    <th>Phone Number: <span th:text="*{phoneNumber}"></span>
							    <th>Address: <span th:text="*{address}"></span>
							    <th>Company Name: <span th:text="*{companyName}"></span>
							    <th>Company Description: <span th:text="*{companyDescription}"></span>
							    <th>Industry: <span th:text="*{industry}"></span>
							    
							  </tr>
							
							<!-- <tr>
								<th>First Name: </th><td th:if="*{useremail}" th:text="${user.firstName}"></td>
							</tr>
							<tr>
								<th>Last Name:</th> <td th:if="*{useremail}" th:text="${user.lastName}"></td>
							</tr>
							<tr>
								<th>Email:</th> <td th:if="*{useremail}" th:text="${user.email}"></td>
							</tr>
							<tr>
								<th>Password:</th> <td th:if="*{useremail}" th:text="${user.password}"></td>
							</tr>
							<tr>
								<th>Phone Number:</th> <td th:if="*{useremail}" th:text="${user.phoneNumber}"></td>
							</tr>
							<tr>
								<th>Address:</th> <td th:if="*{useremail}" th:text="{user.address}"></td>
							</tr>
							<tr>
								<th>Birthday:</th> <td th:if="*{useremail}" th:text="${user.birthDate}"></td>
							</tr>
							<tr>
								<th>Job Type:</th> <td th:if="*{useremail}" th:text="${user.jobType}"></td>
							</tr>
							<tr>
								<th>Skills:</th> <td th:if="*{useremail}" th:text="${user.skills}"></td>
							</tr>
							<tr>
								<th>Qualification:</th> <td th:if="*{useremail}" th:text="${user.qualification"></td>
							</tr>
							<tr>
								<th>Work Experience:</th> <td th:if="*{useremail}" th:text="${user.workExperience}"></td>
							</tr> -->
    				
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
</html>
