<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="masterlayout">
<section layout:fragment="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card card-plain">
				<div class="card-header card-header-primary">
					<h4 class="card-title mt-0">
						Job posts (<a th:if="${session.userRole == 'USER_EMPLOYER'}" href="/jobportal/jobpost/add">Add new</a>)
					</h4>
					<p class="card-category">List of job posts</p>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-condensed">
							<tr>

								<th>ID</th>
								<th>Title</th>
								<th>Description</th>
								<th>Job Type</th>
								<th>Industry</th>
								<th>Position</th>
								<th>Location</th>
								<th>Salary</th>
								<th>Deadline</th>
								<th>Publish Time</th>
								<th>Action</th>
							</tr>
							<tr th:each="jp : ${jobPosts}">
								<td th:text="${jp.jobPostId}"></td>
								<td th:text="${jp.jobPostTitle}"></td>
								<td th:text="${jp.jobPostDesc}"></td>
								<td th:text="${jp.jobPostType.displayName}"></td>
								<td th:text="${jp.jobPostIndustry.displayName}"></td>
								<td th:text="${jp.jobPostPosition}"></td>
								<td th:text="${jp.jobPostLocation}"></td>
								<td th:text="${jp.jobPostSalary}"></td>
								<td th:text="${jp.jobPostApplicationDeadline}"></td>
								<td th:text="${jp.jobPostPostedTime}"></td>
								<td><a href="#"
									data-th-href="@{/jobportal/jobpost/view/{id}(id=${jp.jobPostId})}">View</a>
									| <a th:if="${session.userRole == 'USER_EMPLOYER'}" href="#"
									data-th-href="@{/jobportal/jobpost/edit/{id}(id=${jp.jobPostId})}">Edit</a>
									| <a th:if="${session.userRole == 'USER_EMPLOYER'}" href="#"
									onclick="return confirm('Are you sure you want to delete this item?');"
									data-th-href="@{/jobportal/jobpost/delete/{id}(id=${jp.jobPostId})}">Delete</a>
									<a th:if="${session.userRole == 'USER_JOBSEEKER'}" href="#"
									onclick="return confirm('Are you sure you want to apply to this job?');"
									data-th-href="@{/jobportal/application/add/{id}(id=${jp.jobPostId})}">Apply</a>

									<!-- <form action="#" th:action="@{/jobportal/application/add}" th:object="${application}" method="post">										
										<input type="hidden" th:field="${jp}" />
										<input th:if="${session.userRole == 'USER_EMPLOYER'}" type="submit" name="action" class="btn btn-default"
											th:value="Apply" />
			
									</form> -->
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</html>