<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="masterlayout">
<section layout:fragment="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card card-plain">
				<div class="card-header card-header-primary">
					<h4 class="card-title mt-0">
						Add/Edit Jobpost ( <a href="/jobportal/jobpost">Go Back</a>)
					</h4>
					<p class="card-category">Add or edit job post details</p>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<form action="#" th:action="@{/jobportal/jobpost/add}"
							th:object="${jobPost}" method="post">
							<input type="hidden" th:field="*{jobPostId}" />
							<table class="table table-hover table-striped">
								<tr>
									<td width="200">Job Title</td>
									<td>
										<div class="form-group">
											<label for="jobPostTitle"></label> <input type="text"
												class="form-control" id="jobPostTitle"
												th:field="*{jobPostTitle}" placeholder="jobPostTitle" />
										</div>
									</td>
								</tr>
								<tr>
									<td>Job Description</td>
									<td>
										<div class="form-group">
											<label for="jobPostDesc"></label> <input type="text"
												class="form-control" id="jobPostDesc"
												th:field="*{jobPostDesc}" placeholder="jobPostDesc" />
										</div>
									</td>
								</tr>
								<tr>
									<td>Job Type</td>
									<td>
										<div class="form-group">
											<select class="form-control" th:field="*{jobPostType}">
												<option
													th:each="state : ${T(com.usyd.elec5619.group14.model.constants.JobType).values()}"
													th:value="${state}" th:text="${state.displayName}">
												</option>
											</select>
										</div>
									</td>
								</tr>
								<tr>
									<td>Job Industry</td>
									<td>
										<div class="form-group">
											<select class="form-control" th:field="*{jobPostIndustry}">
												<option
													th:each="state : ${T(com.usyd.elec5619.group14.model.constants.Industry).values()}"
													th:value="${state}" th:text="${state.displayName}">
												</option>
											</select>
										</div>
									</td>
								</tr>
								<tr>
									<td>Job Position</td>
									<td>
										<div class="form-group">
											<label for="jobPostPosition"></label> <input type="text"
												class="form-control" id="jobPostPosition"
												th:field="*{jobPostPosition}" placeholder="jobPostPosition" />
										</div>
									</td>
								</tr>
								<tr>
									<td>Job Location</td>
									<td>
										<div class="form-group">
											<label for="jobPostLocation"></label> <input type="text"
												class="form-control" id="jobPostLocation"
												th:field="*{jobPostLocation}" placeholder="jobPostLocation" />
										</div>
									</td>
								</tr>
								<tr>
									<td>Job Salary</td>
									<td>
										<div class="form-group">
											<label for="jobPostSalary"></label> <input type="text"
												class="form-control" id="jobPostSalary"
												th:field="*{jobPostSalary}" placeholder="jobPostSalary" />
										</div>
									</td>
								</tr>
								<tr>
									<td>Application Deadline</td>
									<td>
										<div class="form-group">
											<label for="jobPostApplicationDeadline"></label> <input
												type="datetime-local" class="form-control"
												id="jobPostApplicationDeadline"
												th:field="*{jobPostApplicationDeadline}"
												placeholder="jobPostApplicationDeadline" />
										</div>
									</td>
								</tr>
								<tr>
									<td></td>
									<td><input type="submit" class="btn btn-default"
										th:value="Save" /> <input type="reset" value="Reset"
										class="btn btn-default" /></td>
								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

</html>