<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    layout:decorator="masterlayout">
<section layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header card-header-primary">
                    <h4 class="card-title mt-0"> Login Here </h4>
                </div>
                <div class="card-body">

                    <form th:action="@{/jobportal/login}" method="post">
                        <div th:if="${param.error}">
                            <div class="alert alert-danger">
                                Invalid username or password.
                            </div>
                        </div>
                        <div th:if="${param.logout}">
                            <div class="alert alert-info">
                                You have been logged out.
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group row col-12">
                                <div class="col-2">
                                    <label for="username">
                                        <h4>Username</h4>
                                    </label>
                                </div>
                                <div class="col-6">
                                    <input type="text" id="username" name="username" class="form-control" autofocus="autofocus"
                                        placeholder="Username" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group row col-12">
                                <div class="col-2">
                                    <label for="password">
                                        <h4>Password</h4>
                                    </label>
                                </div>
                                <div class="col-6">
                                    <input type="password" id="password" name="password" class="form-control"
                                        placeholder="Password" />
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="row">
                                <div class="col-6 offset-2">
                                    <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-info"
                                        value="Log In" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="offset-4">
                        <span>New user? <a href="/" th:href="@{/jobportal/registration}">Register here</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</html>