<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    layout:decorator="masterlayout">
<section layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header card-header-primary">
                    <h1 class="card-title mt-0">Register Here</h1>
                </div>

                <div>
                    <h3> </h3>
                    <div th:if="${param.success}">
                        <div class="alert alert-info">
                            You've successfully registered to our awesome app!
                        </div>
                    </div>
                </div>

                <form th:action="@{/jobportal/registration}" th:object="${user}" method="post">

                    <p class="error-message" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}"
                        th:text="${error}">Validation error</p>

                    <div class="form-group row" th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                        <div class="col-md-3">
                            <label for="firstName" class="control-label">
                                <h4>First name</h4>
                            </label>
                        </div>
                        <div class="col-md-9">
                            <input id="firstName" class="form-control text-dark" th:field="*{firstName}" />
                            <p class="error-message" th:each="error: ${#fields.errors('firstName')}" th:text="${error}">Validation
                                error</p>
                        </div>
                    </div>

                    <div class="form-group row" th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                        <div class="col-md-3">
                            <label for="lastName" class="control-label">
                                <h4>Last name</h4>
                            </label>
                        </div>
                        <div class="col-md-9">
                            <input id="lastName" class="form-control text-dark" th:field="*{lastName}" />
                            <p class="error-message" th:each="error : ${#fields.errors('lastName')}" th:text="${error}">Validation
                                error</p>
                        </div>
                    </div>

                    <div class="form-group row" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                        <div class="col-md-3">
                            <label for="email" class="control-label">
                                <h4>E-mail</h4>
                            </label>
                        </div>
                        <div class="col-md-9">
                            <input id="email" class="form-control text-dark" th:field="*{email}" />
                            <p class="error-message" th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation
                                error</p>
                        </div>
                    </div>
                    <div class="form-group row" th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
                        <div class="col-md-3">
                            <label for="confirmEmail" class="control-label">
                                <h4>Confirm e-mail</h4>
                            </label>
                        </div>
                        <div class="col-md-9">
                            <input id="confirmEmail" class="form-control text-dark" th:field="*{confirmEmail}" />
                            <p class="error-message" th:each="error : ${#fields.errors('confirmEmail')}" th:text="${error}">Validation
                                error</p>
                        </div>
                    </div>
                    <div class="form-group row" th:classappend="${#fields.hasErrors('phoneNumber')}? 'has-error':''">
                        <div class="col-md-3">
                            <label for="phoneNumber" class="control-label">
                                <h4>Phone Number</h4>
                            </label>
                        </div>
                        <div class="col-md-9">
                            <input id="phoneNumber" class="form-control text-dark" th:field="*{phoneNumber}" />
                            <p class="error-message" th:each="error : ${#fields.errors('phoneNumber')}" th:text="${error}">Validation
                                error</p>
                        </div>
                    </div>
                    <div class="form-group row" th:classappend="${#fields.hasErrors('address')}? 'has-error':''">
                        <div class="col-md-3">
                            <label for="address" class="control-label">
                                <h4>Address</h4>
                            </label>
                        </div>
                        <div class="col-md-9">
                            <input id="address" class="form-control text-dark" th:field="*{address}" />
                            <p class="error-message" th:each="error : ${#fields.errors('address')}" th:text="${error}">Validation
                                error</p>
                        </div>
                    </div>

                    <!-- <div class="form-group"
                     th:classappend="${#fields.hasErrors('role')}? 'has-error':''">
                    <label for="role" class="control-label">Role</label>
                    <input id="role" type="radio" value="EMPLOYER" class="card-category" th:field="*{role}"/>Employer
                    <input id="role" type="radio" value="JOB_SEEKER" class="card-category" th:field="*{role}"/>JobSeeker
                </div>  -->

                    <div class="form-group row" th:classappend="${#fields.hasErrors('roleId')}? 'has-error':''">
                        <div class="col-md-3">
                            <label for="role">
                                <h4>Role</h4>
                            </label>
                        </div>
                        <div class="col-md-9">
                            <fieldset id="roleGroup" class="row">
                                <div class="radio row">
                                    <div class="col-1">
                                        <input th:field="*{roleId}" type="radio" id="roleId" class="form-control text-light"
                                            name="roleGroup" value="1">
                                    </div>
                                    <div class="col-2">
                                        <label class="text-light control-label row"><h5>Employer</h5></label>
                                    </div>
                                    <div class="col-1">
                                        <input th:field="*{roleId}" type="radio" id="roleId" class="form-control text-light"
                                            name="roleGroup" value="2">
                                    </div>
                                    <div class="col-2">
                                        <label class="text-light control-label row"><h5>Job Seeker</h5></label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>


                    <div class="form-group row" th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                        <div class="col-md-3">
                            <label for="password" class="control-label">
                                <h4>Password</h4>
                            </label>
                        </div>
                        <div class="col-md-9">
                            <input id="password" class="form-control text-dark" type="password" th:field="*{password}" />
                            <p class="error-message" th:each="error : ${#fields.errors('password')}" th:text="${error}">Validation
                                error</p>
                        </div>
                    </div>
                    <div class="form-group row" th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                        <div class="col-md-3">
                            <label for="confirmPassword" class="control-label">
                                <h4>Confirm password</h4>
                            </label>
                        </div>
                        <div class="col-md-9">
                            <input id="confirmPassword" class="form-control" type="password" th:field="*{confirmPassword}" />
                            <p class="error-message" th:each="error : ${#fields.errors('confirmPassword')}" th:text="${error}">Validation
                                error</p>
                        </div>
                    </div>
                    <div class="form-group row" th:classappend="${#fields.hasErrors('terms')}? 'has-error':''">
                        <div class="checkbox row offset-3">
                            <div class="col-3">
                                <input class="form-control" id="terms" type="checkbox" th:field="*{terms}" />  
                            </div>
                            <div class="col-9">
                                <label class="control-label" for="terms">
                                    I agree with the <a href="#">terms and conditions</a> for Registration.
                                </label>
                                <p class="error-message" th:each="error : ${#fields.errors('terms')}" th:text="${error}">Validation
                                    error</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group offset-3">
                        <button type="submit" class="btn btn-success">Register</button>
                        <span><label class="text-light">Already registered? </label> <a href="/" th:href="@{/jobportal/login}">Login
                                here</a></span>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

</html>