<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="masterlayout">
<section layout:fragment="content">
	<div class="row">
		<div class="col-md-12">
			<div class="crd card-plain">
				<div class="card-header card-header-primary">
					<h4 class="card-title">
						View Jobpost ( <a href="/jobportal/jobpost">Go Back</a>)
					</h4>
					<p class="card-category">View job post details</p>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<div th:if="${jobPost}">
							<table class="table table-hover table-striped">
								<tr>
									<td width="200">Job Title</td>
									<td th:text="${jobPost.jobPostTitle}"></td>
								</tr>
								<tr>
									<td>Job Description</td>
									<td th:text="${jobPost.jobPostDesc}"></td>
								</tr>
								<tr>
									<td>Job Type</td>
									<td th:text="${jobPost.jobPostType}"></td>
								</tr>
								<tr>
									<td>Job Industry</td>
									<td th:text="${jobPost.jobPostIndustry}"></td>
								</tr>
								<tr>
									<td>Job Position</td>
									<td th:text="${jobPost.jobPostPosition}"></td>
								</tr>
								<tr>
									<td>Job Location</td>
									<td th:text="${jobPost.jobPostLocation}"></td>
								</tr>
								<tr>
									<td>Job Salary</td>
									<td th:text="${jobPost.jobPostSalary}"></td>
								</tr>
								<tr>
									<td>Application Deadline</td>
									<td th:text="${jobPost.jobPostApplicationDeadline}"></td>
								</tr>
								<tr>
									<td>Job Posted Time</td>
									<td th:text="${jobPost.jobPostPostedTime}"></td>
								</tr>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="comment-section col-md-12">
			<div class="col-md-12">
				<div class="card-header card-header-primary">
					<h4 class="card-title mt-0">Comments</h4>
				</div>
				<form action="#" th:action="@{/jobportal/comment/add}"
					th:object="${comment}" method="post">
					<input type="hidden" th:field="*{commentId}" /> <input
						type="hidden" th:field="${jobPost.jobPostId}" />
					<div class="form-group">
						<label for="commentBody"></label> <input type="text"
							class="form-control" th:field="*{commentBody}"
							placeholder="comment" />
					</div>
					<input type="submit" class="btn btn-default" th:value="Post" />
				</form>
			</div>



			<div class="container">
				<div class="row">
					<div th:each="c : ${comments}" class="col-sm-8">
						<div class="panel panel-white post panel-shadow">
							<div class="post-heading">
								<div class="pull-left image">
									<img src="http://bootdey.com/img/Content/user_1.jpg"
										class="img-circle avatar" alt="user profile image">
								</div>
								<div class="pull-left meta">
									<div class="title h5">
										<a href="#"><p th:text="${c.user.email}">made a
												comment.</p></a>
									</div>
									<h6 class="text-muted time">
										<p th:text="${c.commentTime}"></p>
									</h6>
								</div>
							</div>
							<div class="post-description">
								<p th:text="${c.commentBody}"></p>
								<div class="stats">
									<a
										th:href="@{/jobportal/comment/edit/{jobPostId}/{commentId}(jobPostId=${jobPost.jobPostId},commentId=${c.commentId})}">Edit</a>
									| <a href="#"
										onclick="return confirm('Are you sure you want to delete this item?');"
										th:href="@{/jobportal/comment/delete/{jobPostId}/{commentId}(jobPostId=${jobPost.jobPostId},commentId=${c.commentId})}">
										Delete </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- 			<div class="col-md-12">
				<table class="table-responsive comment-table">
					<tr>
						<th>User</th>
						<th>Comment</th>
						<th>Date</th>
						<th>Action</th>
					</tr>
					<tr th:each="c : ${comments}">
						<td th:text="${c.user.email}"></td>
						<td th:text="${c.commentBody}"></td>
						<td th:text="${c.commentTime}"></td>
						<td><a
							th:href="@{/jobportal/comment/edit/{jobPostId}/{commentId}(jobPostId=${jobPost.jobPostId},commentId=${c.commentId})}">Edit</a>
							| <a href="#"
							onclick="return confirm('Are you sure you want to delete this item?');"
							th:href="@{/jobportal/comment/delete/{jobPostId}/{commentId}(jobPostId=${jobPost.jobPostId},commentId=${c.commentId})}">
								Delete </a></td>
					</tr>
				</table>
			</div>
 -->
		</div>
	</div>
</section>
</html>