<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorator="masterlayout">
<section layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header card-header-primary">
                    <h4 class="card-title mt-0">
                        Approve/Reject Application
                    </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <tr>
                                <th>ID</th>
                                <th>Applied At</th>
                                <th>Status</th>
                            </tr>
                            <tr>
                                <td class="text-light" th:text="*{applicationId}"></td>
                                <td class="text-light" th:text="*{applicationDate}"></td>
                                <td class="text-light" th:text="*{applicationStatus}"></td>
                            </tr>
                        </table>
                        <form action="#" th:action="@{/jobportal/application/update}" th:object="${application}" method="post">
                            <input type="hidden" th:field="*{applicationId}" />
                            <input type="hidden" th:field="*{jobPost}" />
                            <input type="hidden" th:field="*{jobSeeker}" />
                            <input type="hidden" th:field="*{applicationDate}" />
                            <input type="hidden" th:field="*{applicationStatus}" />

                            <input th:if="${session.userRole == 'USER_EMPLOYER'}" type="submit" name="action" class="btn btn-default"
                                th:value="Approve" />

                        </form>


                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

</html>