<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorator="masterlayout">
<section layout:fragment="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card card-plain">
				<div class="card-header card-header-primary">
					<h4 class="card-title mt-0">
						Add/Edit Jobpost ( <a href="/jobportal/jobpost">Go Back</a>)
					</h4>
					<p class="card-category">Add or edit job post details</p>
				</div>
				<div class="card-body">
					<div class="table-responsive">
<!-- 						<form th:object="${jobPost}" method="post">
							<input type="hidden" th:field="*{jobPostId}" />

							<div class="form-group">
								<label for="jobPostTitle"></label> <input type="text" class="form-control" id="jobPostTitle" readonly="readonly"
								 th:field="*{jobPostTitle}" placeholder="jobPostTitle" />
							</div>
							<div class="form-group">
								<label for="jobPostDesc"></label> <input type="text" readonly="readonly" class="form-control" id="jobPostDesc"
								 th:field="*{jobPostDesc}" placeholder="jobPostDesc" />
							</div>

							<div class="form-group">
								<label for="jobPostType"></label> <input type="text" class="form-control" id="jobPostType" th:field="*{jobPostType}"
								 placeholder="jobPostType" />
								<select class="form-control" th:field="*{jobPostType}" th:disabled="disabled">
									<option th:each="state : ${T(com.usyd.elec5619.group14.model.constants.JobType).values()}" th:value="${state}"
									 th:text="${state.displayName}" th:readonly="true">
									</option>
								</select>
							</div>
							<div class="form-group">
								<label for="jobPostIndustry"></label> <input type="text" class="form-control" id="jobPostIndustry" th:field="*{jobPostIndustry}"
								 placeholder="jobPostIndustry" />
								<select class="form-control" th:field="*{jobPostIndustry}" th:disabled="disabled">
									<option th:each="state : ${T(com.usyd.elec5619.group14.model.constants.Industry).values()}" th:value="${state}"
									 th:text="${state.displayName}">
									</option>
								</select>
							</div>
							<div class="form-group">
								<label for="jobPostPosition"></label> <input type="text" readonly="readonly" class="form-control" id="jobPostPosition"
								 th:field="*{jobPostPosition}" placeholder="jobPostPosition" />
							</div>
							<div class="form-group">
								<label for="jobPostLocation"></label> <input type="text" class="form-control" id="jobPostLocation" readonly="readonly"
								 th:field="*{jobPostLocation}" placeholder="jobPostLocation" />
							</div>

							<div class="form-group">
								<label for="jobPostSalary"></label> <input type="text" class="form-control" id="jobPostSalary" readonly="readonly"
								 th:field="*{jobPostSalary}" placeholder="jobPostSalary" />
							</div>

							<div class="form-group">
								<label for="jobPostApplicationDeadline"></label> <input type="date" class="form-control" readonly="readonly" id="jobPostApplicationDeadline"
								 th:field="*{jobPostApplicationDeadline}" placeholder="jobPostApplicationDeadline" />
							</div>

							<div class="form-group">
								<label for="jobPostPostedTime"></label> <input type="text" class="form-control" id="jobPostPostedTime" readonly="readonly"
								 th:field="*{jobPostPostedTime}" placeholder="jobPostPostedTime" />
								</div>

							<input type="submit" class="btn btn-default" th:value="Save" />
							<input type="reset" value="Reset" class="btn btn-default" />
						</form>
 -->
 <table>			<tr th:each="c : ${jobPost}">
						<td class="text-light" th:text="${c.jobPostTitle}"></td>
						<td class="text-light" th:text="${c.jobPostDesc}"></td>
						<td class="text-light" th:text="${c.jobPostType}"></td>
						<td class="text-light" ><a th:href="@{/jobportal/comment/edit/{jobPostId}/{commentId}(jobPostId=${jobPost.jobPostId},commentId=${c.commentId})}">Edit</a>  
						| <a href="#"
							onclick="return confirm('Are you sure you want to delete this item?');"
							th:href="@{/jobportal/comment/delete/{jobPostId}/{commentId}(jobPostId=${jobPost.jobPostId},commentId=${c.commentId})}">
								Delete
						</a></td>
					</tr>
 </table>
 					</div>
				</div>
			</div>
		</div>
		<div class="comment-section">
		<div>
			<div class="col-md-12">
				<div class="card-header card-header-primary">
					<h4 class="card-title mt-0">Comments</h4>
				</div>
				<form action="#" th:action="@{/jobportal/comment/add}"
					th:object="${comment}" method="post">
					<input type="hidden" th:field="*{commentId}" />
					<input type="hidden" th:field="${jobPost.jobPostId}" />
					<div class="form-group">
						<label for="commentBody"></label> <input type="text"
							class="form-control" th:field="*{commentBody}"
							placeholder="comment" />
					</div>
					<input type="submit" class="btn btn-default" th:value="Save" /> <input
						type="reset" value="Reset" class="btn btn-default" />
				</form>
			</div>
			<div class="col-md-12">
				<table class="table-responsive comment-table">
					<tr>
						<th>Comment</th><th>Date</th><th>Action</th>
					</tr>
					<tr th:each="c : ${comments}">
						<td class="text-light" th:text="${c.user.email}"></td>
						<td class="text-light" th:text="${c.commentBody}"></td>
						<td class="text-light" th:text="${c.commentTime}"></td>
						<td class="text-light" ><a th:href="@{/jobportal/comment/edit/{jobPostId}/{commentId}(jobPostId=${jobPost.jobPostId},commentId=${c.commentId})}">Edit</a>  
						| <a href="#"
							onclick="return confirm('Are you sure you want to delete this item?');"
							th:href="@{/jobportal/comment/delete/{jobPostId}/{commentId}(jobPostId=${jobPost.jobPostId},commentId=${c.commentId})}">
								Delete
						</a></td>
					</tr>
				</table>
			</div>
			</div>
		</div>
	</div>
</section>
</html>